body {
    background: #EEEEEE;
}

#container>div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {flex: 1;}

.navbar {margin-bottom: 0;}

.footer {padding: 20px;}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.banner {

    color: white;
    background: url('../images/immo3.jpg');
    background-size: cover;
}

.feat-icon {
    margin-top: 21px;
    color: #2c3e50;
}

.transparent {
    background: transparent;
    border-color: transparent;
}

.list-item {
    min-height: 130px;
}

.grid-item {
    padding-top: 20px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.singleline {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    max-width: 100%;
}

.small-thumb {
    max-height: 130px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
    color: #2E2E2E;
    vertical-align: middle;
}

.label {
    vertical-align: middle;
}

.extra-vertical-padding,
.extra-top-padding {
    margin-top: 20px;
}

.extra-vertical-padding,
.extra-bottom-padding {
    margin-bottom: 20px;
}

.social-share-button {
    display: inline-block;
    cursor: pointer;
    margin: 0 2px 0 2px;
}

.graphique-content{
	margin-top:30px;
}