@import url('https://fonts.googleapis.com/css?family=Amaranth|Roboto');

/* sticky footer
html {
  position: relative;
  min-height: 100%;
}*/

body{
	font-family:'Source Sans Pro';
	font-size: 16px;
	padding-top:70px;
	color: #44444a;
}

/* navbar */
.navbar-default{
	background-color:#444B54;
	border-bottom:1px solid #444B54;
	padding-top:10px;
	padding-bottom:10px;
}

.navbar-default a{
	color:white;
}

/* logo */
.navbar-default .navbar-brand{
    color: white;
	font-size: 24px;
	font-family: 'Amaranth', sans-serif;
	padding-top:0px;
}

.navbar-default .navbar-brand:hover{
    color: #fff;
}


.navbar-default .navbar-nav>li>a {
	color: white;
}

.navbar-default .navbar-nav>li>a:hover {
	color: white;
}

/* module de recherche */
.search{
	background-color:#eee;padding-top:20px;
}

.table > tbody > tr > td, .table > thead > tr > th {
     vertical-align: middle;
}

.table > thead{
	background-color:#585858;
	color:white;
}

.table{
	font-size:15px;
}

.contenu{
	text-align:center;
	 /*background-image: url("https://www.immobilier-seyssel.com/ressources_client/images/body.jpg");*/
	background-color:#444B54;
	color:white;
	padding-top:1px;
}

.contenu h1{
	color:white;
}

.text-contenu{
	line-height:30px;
}

.bandeau{
	padding:20px;
	background-color:#d35060;
	margin-top:20px;
	color:white;
}


/* btn */
.btn {
	border-radius:0px;
}
.cta{
	background-color: #f0ad4e;
    border-color: #eea236;
	color:white;
}

.btn-simple{
	color:#444b54;
	border:1px solid #444b54;
	font-weight:bold;
}

.btn-nav{
	background-color:#e04f5f;
	color:white;
	border-radius:3px;
	border-color:#e04f5f;
}

.btn-nav:hover{
	background-color:#c94755;
	color:white;
}

.graphique-content{
	/*margin-top:30px;*/
}

.highcharts-button,
.highcharts-title,
.highcharts-subtitle,
.highcharts-credits{
	display:none;
}

h2{
	font-weight:normal;
	margin-top:0px;
}

.bloc_stat{
	background:#f5f5f5;
	padding-top:15px;
	padding-bottom:15px;
}

.bloc_stat span{
	font-style:uppercase;
}



.navbar{
	margin-bottom:0px;
}

.cta-accueil{
	padding:10px;
	font-size:17px;
	font-weight:bold;
	margin-bottom:10px;
	margin-top:10px;
}

.accueil li{
	background: url('https://cdn0.iconfinder.com/data/icons/feather/96/square-check-16.png') no-repeat left center;
	padding: 3px 0px 3px 25px;
	/* reset styles (optional): */
	list-style: none;
	margin: 0;
}



.titre{
	font-style:italic;
	font-size:25px;
}

.compteur{
	font-size:45px;
	font-family: 'Fjalla One', sans-serif;
}

.mockup .img-responsive {
margin: 0 auto;
}

/* Footer */
.footer {
/*position: absolute;*/
  bottom: 0;
  width: 100%;
  background-color:#444B54;
  padding-top:20px;
  padding-bottom:20px;
  color:white;

}

.footer ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer a{
	color:white;
}

.footer label{
	margin-bottom:10px;
	font-size:16px;
}

.footer-line{
	margin-top:20px;
	margin-bottom:20px;
}